# Build
project/build/
*.elf
*.bin
*.hex
*.map
*.o
*.d

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
